{% extends 'template.twig' %}

{% block title %}E-Learning{% endblock %}

{% block css %}
	<style>
	    .item{
	        font-size: .85em;
	        color: #9f9f9f;
	    }
    </style>
{% endblock %}

{% block body %}
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">
			<header class="main-header">
				{% include 'partials/menu_home.twig'%}
			</header>
		</div>
		{% include 'templates/flash/flash.twig'%}
		<div class="content-wrapper">
			<div class="container-fluid">
				<section class="content-header">
                    <h1 class="text-center">
                        Latest Course
                    </h1>
                </section>
				<section class="content">
					<div class="row">
						{% for course in data %}
							<div class="col-lg-4">
								<div class="box box-default">
									<div class="box-header with-border">
										<h3 class="box-title">
											<a href="{{path_for('web.course.slug', {slug:course.title_slug})}}">
												<strong>{{course.title}}</strong>
											</a>
										</h3>
									</div>
									<div class="box-body">
						    			{% for category in course.category %}
						    			    <button type="button" class="btn btn-sm btn-default">{{category}}</button>
						    			{% endfor %}
						            	<br><br>
						            	<div>
						                	<div class="col-sm-4">
						                		<i class="fa fa-tasks item"> {{course.video| first}} parts</i>
						                	</div>
							                <div class="col-sm-4">
	                							<p class="item">{{data.create_at|date('D, F d Y')}}</p>
	              							</div>
						            	</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</body>
{% endblock %}

{% block script %}{% endblock %}